Django>=5.2,<5.3
djangorestframework
django-cors-headers
dj-database-url
whitenoise
gunicorn
psycopg2-binary
dnspython
groq
joblib
numpy
pandas
pymongo[srv]
python-dotenv
requests
scikit-learn
mongoengine
